@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'IBMPlexMono';
    src: local(''), url('../public/fonts/ibm-plex-mono-3-cdnfonts/IBMPlexMono-Medium.ttf') format('woff');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'IBMPlexMonoLight';
    src: local(''), url('../public/fonts/ibm-plex-mono-3-cdnfonts/IBMPlexMono-Regular.ttf') format('woff');
    font-weight: normal;
    font-size: normal;
}


* {
    font-family: 'Times New Roman', Times, serif;
    line-height: 24.5px;
    letter-spacing: 0.3px;
}

@media screen and (min-width: 450px) {
    * {
        line-height: 23px;
        letter-spacing: 0.3px;
    }
}
